PORT=4002

ENVIRONMENT=development
NODE_ENV=development

PRODUCTION_DB_HOST=localhost
PRODUCTION_DB_PORT=5432
PRODUCTION_DB_NAME=openrecdb
PRODUCTION_DB_USERNAME=xxxx
PRODUCTION_DB_PASSWORD=xxxxxxx

DEVELOPMENT_DB_HOST=localhost
DEVELOPMENT_DB_PORT=5432
DEVELOPMENT_DB_NAME=openrecdb
DEVELOPMENT_DB_USERNAME=xxxxx
DEVELOPMENT_DB_PASSWORD=xxxxxxxxxx

JWT_SECRET=dfjdksjkj334k3jfkjsdfjsl
JWT_EXPIRATION_TIME=7D

USE_SSL=false
SSL_AUTHORIZE=false

CORS_ORIGINS=http://localhost:3000,http://localhost:3001

GENERATE_DOCS=true

TEST_DB_URL=postgresql://<YOUR_DB_USERNAME>:<YOUR_DB_PASSWORD>@<YOUR_DB_HOST>:<YOUR_DB_PORT>/openrecdb
